[Unit]
Description=Reliw Daemon
After=syslog.target network.target

[Service]
User=www
Type=simple
ExecStart=/usr/local/bin/reliw
Restart=on-failure

[Install]
WantedBy=default.target
